html,
body {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Palatino Linotype', sans-serif !important;
    opacity: 0;    
}

body.ready {
    opacity: 1;
    transition: 0.25s opacity;
}

section#description {
    width: 40vw;
    text-align: justify;
}

section#main {
    display: flex;
    flex-direction: column;    
    width: 40vw;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}
